<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!--NameSpace 任意起名字，就是这个Mapper.xml的身份标签-->
<mapper namespace="com.cskaoyan.mapper.UserMapper">

    <cache/>

    <!-- 连接查询-->

    <resultMap id="userMap" type="com.cskaoyan.dto.User">

        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="age" property="age"/>

        <association property="userDetail" javaType="com.cskaoyan.dto.UserDetail">
            <result column="did" property="id"/>
            <result column="pic" property="pic"/>
            <result column="sign" property="sign"/>
            <result column="userid" property="userId"/>
        </association>

    </resultMap>
    <select id="selectUserWithDetailById" resultMap="userMap">
        SELECT
                u.id as id,
                u.username as username,
                u.password as password,
                u.age as age,
                d.id as did,
                d.pic as pic,
                d.sign as sign,
                d.user_id as userid
        FROM
                user2 AS u,
                user_detail AS d
        WHERE
                u.id = d.user_id
          and u.id = #{id}
    </select>



    <!--分次查询 -->

    <resultMap id="userCountMap" type="com.cskaoyan.dto.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="age" property="age"/>

        <!--通过第二次查询去映射到我们的userDetail-->
        <association property="userDetail" javaType="com.cskaoyan.dto.UserDetail"
                     select="selectUserDetailByUserId" column="id" fetchType="lazy"/>

    </resultMap>


    <select id="selectUserWithDetailById2" resultMap="userCountMap">
        select id,username,password,age from user2 where id = #{id}
    </select>


    <select id="selectUserDetailByUserId" resultType="com.cskaoyan.dto.UserDetail">

        select
                id as id,
                user_id as userId,
                pic as pic,
                sign as sign
        from user_detail
        where user_id = #{xxx}
    </select>


    <select id="selectUserById" resultType="com.cskaoyan.dto.User">

        select * from user2 where id = #{id}

    </select>

    <insert id="insertUser" parameterType="com.cskaoyan.dto.User">

        insert  into user values (null, #{user.username}, #{user.password}, #{user.age})

    </insert>




</mapper>
